#house-container {
    background-image: url("../images/main-background/mirror-house.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@keyframes enter {
    0% {
        opacity: 0;
        transform: translateY(24px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-enter {
    animation: enter 0.8s ease-out both;
}
